<%= form_with(model: player, class: "contents") do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul class="list-disc ml-6">
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": player.errors[:name].none?, "border-red-400 focus:outline-red-600": player.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :team_name %>
    <%= form.text_field :team_name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": player.errors[:team_name].none?, "border-red-400 focus:outline-red-600": player.errors[:team_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :tactic %>
    <%= form.text_field :tactic, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": player.errors[:tactic].none?, "border-red-400 focus:outline-red-600": player.errors[:tactic].any?}] %>
  </div>

  <div class="my-5 flex items-center gap-2">
    <%= form.label :ready %>
    <%= form.checkbox :ready, class: ["block shadow-sm rounded-md border order-first h-5 w-5", {"border-gray-400 focus:outline-blue-600": player.errors[:ready].none?, "border-red-400 focus:outline-red-600": player.errors[:ready].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :game_id %>
    <%= form.text_field :game_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": player.errors[:game_id].none?, "border-red-400 focus:outline-red-600": player.errors[:game_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
